In [1]:
momo = {"chicken" : 180 , "buff" : 120 }
chowmin = {"chicken" : 170 , "buff": 100 }
food_prices = {"momo":momo , "chowmin":chowmin}
    
for food , type_of_food_prices in food_prices.items():
    print("food:", food," | " "type:", type_of_food_prices)
        
    for type_of_food , price in type_of_food_prices.items():
        print("type:", type_of_food)
        print("price:", price)

food: momo  | type: {'chicken': 180, 'buff': 120}
type: chicken
price: 180
type: buff
price: 120
food: chowmin  | type: {'chicken': 170, 'buff': 100}
type: chicken
price: 170
type: buff
price: 100

In [2]:
for i in range(3):
    # if i==1:
     #break
    print(i)
else:
    print("loop completed")

0
1
2
loop completed

In [4]:
num = int(input("enter the number"))

if num <= 1:
    print("this number is not prime")
else:
    for i in range (2,num):
        if num % i == 0:
            print(f"the given number is not prime {num}")
            break
        else:
            print(f"is a prime number {num}")

the given number is not prime 12

In [ ]:
basket = ["pen", "book", "copy", "apple", "pencil"]


element_to_find =input("enter the items to find")


for item in range(len(basket)):
    if basket[item] == element_to_find:
       print(f"item is found : {element_to_find}")
       break
else:
    print(f"item is not found")

item is not found

In [ ]:
available_info = {
    "pen" : 5,
    "book" : "out of stock",
    "copy" : 6,
    "pencil" : "out of stock",
    }

search_element = input("enter the element to search")


for item , value in available_info.items():
    if item == search_element:
        if value == "out of stock":
            print ("the item is out of stock")
            break
        else:
            print(f"the stock for {item} is {value}")

the item is out of stock

In [ ]:
i = 0
while (i < 10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
string_value = "my name is gagan puri"

count_vowel = 0

for char in string_value:
    if char.lower() in "aeiou":
        count_vowel = count_vowel + 1

        
print(f"number of vowel in given string : {count_vowel}")

### Generator 

A generator  is  special type of iterator that allows you to iterate over a sequence of value at once at a time, without storing them in memory.
1. yield instead of return.
2. Generators are lazy, the generate values on the fly
3. they are useful for large datasets, infinite sequences, or streaming data.


def generator_function_name(parameters):
#code here
yield expression 
#additional flow here

In [ ]:
def my_generator():
    print('first item')
    yield 10
    
    print('secont item')
    yield 20

    print('last item')
    yield 30

gen = my_generator()
print(next(gen))
print(next(gen))
print(next(gen))

first item
10
secont item
20
last item
30

In [ ]:
# def fun():
#     yield 1
#     yield 2
#     yield 3
    
# for val in fun():
#     print(val)


def get_sequence(x):
    for i in range(x):
        yield i


gen = get_sequence(10)
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

0
1
2
3
4
5

In [ ]:
def is_prime(n):
    if n< 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

def prime_generator():
    num = 2
    while True:
        if is_prime (num):
            yield num
        num += 1

gen = prime_generator()

for _ in range(10):
    print(next(gen))

2
3
5
7
11
13
17
19
23
29

# Error Handeling

Error handeling is a crucial part of writing robust, user_friendly and crash-proof programs.

#Errors

in python, errors are categorized into two types:

#Syntax Error
1. problems with the structure of the code 
2. caught by the Python interpreter before running the program 

#Exception(Runtime errors)
1. Errors that occur during execution 
2. can be handled using error-handeling techniques

In [ ]:
print("Hi")
print("Hello")

if True # type: ignore
    print("Hello")

print("Hi")
print("Hello")

x = 10 / 0

# Full Syntax

try:
    # risky code 
except exceptionaltype 1:
    # handle specific exception
except exceptionaltype 2 as e:
    #capture exception object
else:
    # run if no exception occur
finally:
    # always run(like cleanup)
    # database connection closing
    # file connection closing
    #any memory clean up

In [ ]:
a = 100
b = 0
try:
    c = a/b 
except (ZeroDivisionError , TypeError):
    c= 0
finally:
    print("Thank you")
print(c)

In [ ]:
def withdraw(balance, amount):
    if amount > balance:
        raise ValueError("insuffient balance")
    return balance - amount

try:
    print(withdraw (100, 150))

except ValueError as e:
    print("Error:", e)

Error: insuffient balance

In [ ]:
class TooYoungError(Exception):
    pass

def vote(age):
    if age < 18:
        raise TooYoungError("Too Young to vote")
    return "you can vote"

try:
    print(vote(15))
except TooYoungError as e:
    print("Custom Exception:", e)

Custom Exception: Too Young to vote

## Random Module

In [ ]:
import random

my_list = [1, 5, 23, 40]

random.random()
random.randint(1, 10)
random.choice([1, 2, 3])
random.shuffle(my_list)
random.sample(my_list, 3)

[40, 5, 1]

# Math - Mathematical Function

In [ ]:
import math

print(math.sqrt(100))
print(math.factorial(6))
print(math.pow(3, 4))
print(math.log(50, 5))
print(math.pi)
print(math.sin(math.pi/2))

10.0
720
81.0
2.4306765580733933
3.141592653589793
1.0

# Functools

functools.lru_cache(maxsize=None):Caches the result of expensive function calls.


functools.partial(func, **kwargs):Fixes some arguments of a function and returns a new function.

In [ ]:
from functools import partial

def multiply(x, y):
    return x*y

double  = partial(multiply, 3 )

double(6)

18

In [ ]:
from functools import lru_cache

@lru_cache(maxsize=None)
def fib(n):
    if n < 2:
        return n
    return fib(n-1) + fib(n-2)
print (fib(8))

21

## Pandas

In [ ]:
import pandas as pd 
print (pd.__version__)

2.3.0

# Series

In [ ]:
import pandas as pd

data = [10, 20 , 30, 40, 50]
s = pd.Series(data)
print(s.values)
print (s.index)

print(s)

[10 20 30 40 50]
RangeIndex(start=0, stop=5, step=1)
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
Labelled_data = pd.Series([1, "John" , 3.5 ,"gagan", 7] , index=["a", "b", "c", "d", "e"])
Labelled_data

a        1
b     John
c      3.5
d    gagan
e        7
dtype: object

# Direcotry as series

In [ ]:
# creating using dictionary

# Data Frame

In [ ]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago'],
    'sex': ['M', 'M', 'M'],
    'salary': [70000, 80000, 90000]
}
df = pd.DataFrame(data)
print(df)

print("\n Edited table")
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)


print("\n")
df = pd.DataFrame(data)
df.head() #shows top 5 rows
print(df)


print("\n")
df = pd.DataFrame(data)
df.tail() #shows bottom 5 rows
df.sample(n=2) # shows random 2 rows from the dataframe
df.describe() # provides summary statistics of the dataframe
# print(df)

      Name  Age         City sex  salary
0    Alice   25     New York   M   70000
1      Bob   30  Los Angeles   M   80000
2  Charlie   35      Chicago   M   90000

 Edited table
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35


      Name  Age         City sex  salary
0    Alice   25     New York   M   70000
1      Bob   30  Los Angeles   M   80000
2  Charlie   35      Chicago   M   90000

    Name  Age         City sex  salary
0  Alice   25     New York   M   70000
1    Bob   30  Los Angeles   M   80000

# accessing and indexing data in data frame

In [ ]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago'],
    'sex': ['M', 'M', 'M'],
    'salary': [70000, 80000, 90000]
}
df = pd.DataFrame(data)
print(df)

print("\nAccessing a single column")
name_data_frame = df['Name'] #accessing a single column
print(name_data_frame) 


print("\n, accessing multiple columns")
print(df[['Name', 'Age', 'sex']]) #accessing multiple columns

print("\n accessing a single row")
print(df.iloc[0]) #accessing first row

print("\n accessing multiple rows")
print(df.iloc[1:3]) #accessing rows from index 1 to 2

print("\n")
df.set_index('Name', inplace=True) #setting 'Name' column as index
df
# print("\n")
# print(df.loc['Name']) #accessing a row by label

      Name  Age         City sex  salary
0    Alice   25     New York   M   70000
1      Bob   30  Los Angeles   M   80000
2  Charlie   35      Chicago   M   90000

Accessing a single column
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

, accessing multiple columns
      Name  Age sex
0    Alice   25   M
1      Bob   30   M
2  Charlie   35   M

 accessing a single row
Name         Alice
Age             25
City      New York
sex              M
salary       70000
Name: 0, dtype: object

 accessing multiple rows
      Name  Age         City sex  salary
1      Bob   30  Los Angeles   M   80000
2  Charlie   35      Chicago   M   90000

         Age         City sex  salary
Name
Alice     25     New York   M   70000
Bob       30  Los Angeles   M   80000
Charlie   35      Chicago   M   90000